# compiled output
/dist
/node_modules

# Sensitive data
.env
prisma/migrations/**/
prisma/migrations/migration_lock.toml


# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests


/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode**
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


DATABASE_URL="mysql://admin:password@localhost:3306/pdv-iesb"
JWT_SECRET_KEY="B6cB2zlR37YHFbhSQYkGKXK8TM50fuCl4owvH4uWkFzywcEiM1jzMkX6uZhtHHw"
NODE_ENV=development
SENHA_USUARIO="$2b$10$nFJuDltiPJXlHalHmFk9O.8QfALKmN1Y4ybuKeGjjIxpHHV7YB/s."
NOME_USUARIO="PDVUSR"
EMAIL_USUARIO="pdvusr@gmail.com"


