/* Estilos para o corpo da página */
body {
    background-color: rgb(255, 253, 253);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centralize o conteúdo horizontalmente */
    align-items: center; /* Centralize o conteúdo verticalmente */
}

.elemento-escondido {
    display: none;
}


/* Estilos para a barra de menu à esquerda */
.menu {
    background-color: #f6f6f6;
    font-style: italic;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    color:#ff0000;
}

/* Estilize as imagens nos links do menu */
.menu a img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.menu a {
    padding: 10px 0;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    display: flex;
    align-items: center;
}

.menu a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

/* Estilos para o botão de menu com imagem */
#menu-toggle img {
    width: 25px;
    height: 25px;
}

.menu-img{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    
}

/* Estilos para o botão de menu */
#menu-toggle {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

/* Estilos para a lista de opções do menu */
#menu-options {
    padding: 0;
    margin: 0;
    display: none;
    list-style-type: none;
    overflow-y: auto;
    
}

#menu-options.show-options {
    display: block;
}

#menu-options li {
    text-align: left;
    margin-left: 10px;

    
}

#menu-options a {
    text-decoration: none;
    color: #333;

}

#menu-options a:hover {
    background-color: #ff0000;
    color: #fff;
}

/* Estilos para os botões do menu */
.menu-button {
    width: 240px; 
    height: 50px; 
    text-align: eft; /* Alinhamento do texto à esquerda */
    padding: 10px; /* Espaçamento interno para o texto */
    display: flex; /* Usado para alinhar a imagem e o texto verticalmente */
    align-items: center; /* Alinhar verticalmente ao centro */
    background-color: #f0f0f0; /* Cor de fundo, ajuste conforme necessário */
    border: none; /* Remova a borda do botão, se necessário */
}

/* Estilos para as imagens nos botões do menu */
.menu-button img {
    width: 25px; /* Defina o tamanho desejado */
    height: 25px; /* Defina o tamanho desejado */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

/* Estilos para o conteúdo principal */
.conteudo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo h1 {
    font-size: 24px;
}

.campo {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.campo label {
    width: 300px;
    margin-bottom: 5px;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="date"] {
    border: 0.5px solid rgba(255, 0, 0, 0.548);
    background-color: #f803030c;
    padding: 8px;
}

.opcoes-cadastro_exibir {
    display: unset;
    color: #ff0000;
}

.lista-sem-estilo {
    list-style-type: none;
}

.img-iesb {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #DA2A38;
    font-family: Inter,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.radio-buttons button {
    padding: 5px 10px;
    background-color: #ff0000;
    border: none;
    cursor: pointer;
    color: #fff;
}

.radio-buttons button:hover {
    background-color: #cc0000;
}

/* Estilos para o rodapé */
/* .rodape {
    background-color: #ff0000b7;
    text-align: center;
    padding: 10px 0;
    width:100%;
    color: #fff;
} */
